/* сброс стилей */
:root {
    --primary-font: Arial, sans-serif;
    --heading-font: Georgia, sans-serif;

    /* Цвета */
    --primary-color: rgba(58, 56, 69, 1);
    --secondary-color: rgba(166, 166, 168, 1);
    --accent-color: rgba(198, 155, 123, 1);

    /* размеры */
    --max-width: 1200px;
    --padding: 120px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 3px;
}

body {
    font-family: var(--primary-font);
    line-height: 1.6;
    color: var(--primary-color);
    background-color: #939393;
}

.header {
    background-color: #fff;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 26px var(--padding);
}

.header__content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.header__link { 
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        color: var(--accent-color);
        text-decoration: underline;
    }
}

.header__search {
    /* background: url('./img/Search.png') no-repeat 5px center; */
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 8px;
}

.header__search::placeholder {
    color: var(--secondary-color);
    /* padding: 20px; */
}